*
!.gitignore
!*/
*/.*
!*.c
!*.d
!*.cc
!*.cpp
!*.h
!*.hpp
!*.java
!*.rb
!*.py
!*.php
!*.js
!*.html
!*.css
!*.sh
!*.txt
!*.json
!*.lisp
!*.lsp
!*.cl
!*.mk
!*.pl
!*.s
!*.b
!*.l
!*.y
!*.g
!*.g4
!*.mini
!*.doc
!*.docx
!*.pages
!*.pdf
!*.schema
!*.chip
!*.poke
!*.m3u
!makefile
!Makefile
!README
!TI4_SE2_1_1/**
*.o

